body {
  padding: 0;
  margin: 0;
}

.box-Wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

.box-Wrapper .box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
  height: 200px;
  margin: 5px;
  border-radius: 15px;
  background-color: rgb(178, 255, 127);
  transform: translateX(400%);
  transition: transform 2s;
}

.box-Wrapper .box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box-Wrapper .box.show {
  transform: translateX(0);
}

@media screen and (max-width: 769px) {
  .box-Wrapper .box {
    transform: translateX(200%);
  }

  .box-Wrapper .box:nth-of-type(even) {
    transform: translateX(-200%);
  }
}
