@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.box-Wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  overflow-x: hidden;
}

.box-Wrapper .box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
  height: 200px;
  margin: 5px;
  border-radius: 15px;
  background-color: rgb(178, 255, 127);
  transform: translateX(400%);
  transition: transform 1s;
}

.box-Wrapper .box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box-Wrapper .box.show {
  transform: translateX(0);
}

@media screen and (max-width: 769px) {
  .box-Wrapper .box {
    width: 300px;
    height: 150px;
    transform: translateX(200%);
  }

  .box-Wrapper .box:nth-of-type(even) {
    transform: translateX(-200%);
  }

  .box-Wrapper .box.show {
    transform: translateX(0);
  }
}
